[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krogon = {editable = true,path = "."}
cachetools = "*"

[dev-packages]
krogon = {editable = true,extras = ["dev"],path = "."}

[requires]
python_version = "3.7"
